{% extends 'base.html' %}

{% block content %}
<h1>Detail: {{ product }}</h1>
<h2>Offers</h2>
<form action="{% url 'order:create' %}" method="post">
  <ul>
    {% csrf_token %}
    {% for offer in product.offers.all %}
      <li>
        <button type="submit" value="{{ offer.id }}" name="pk">
        {{ offer.volume }}: {{ offer.price }}
        </button>
      </li>
    {% endfor %}
  </ul>
</form>

{% endblock %}