{% extends 'base.html' %}

{% block content %}
  <h1>Products list</h1>
  <form action="{% url 'order:create' %}" method="post">
    {% csrf_token %}
    <ul>
      {% for product in product_list %}
        <li>
          <a href="{% url 'product:detail' product.pk %}">{{ product }}</a>
          <ul>
          {% for offer in product.offers.all %}
            <li>
              <button type="submit" value="{{ offer.id }}" name="pk">
              {{ offer.volume }}: {{ offer.price }}
              </button>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% empty %}
        <li>Empty</li>
      {% endfor %}
      </ul>
  </form>
{% endblock %}