{% extends 'base.html' %}

{% block content %}
  <h1>Order{% if order %}: {{ order }}{% endif %}</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if order %}
      <button type="submit">Create</button>
    {% else %}
      <button type="submit">Update</button>
    {% endif %}
  </form>
{% endblock %}