{% extends 'base.html' %}

{% block content %}
<h1>Orders list</h1>
<ul>
{% for order in order_list %}
  <li>
    <a href="{% url 'order:detail' order.pk %}">{{ order }}</a>
  </li>
{% empty %}
  <li>Empty</li>
{% endfor %}
</ul>
{% endblock %}