{% extends 'base.html' %}

{% block content %}
  <h1>Registration</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
{% endblock %}