<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
{% if user.is_authenticated %}
  <form action="{% url 'account:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  <ul>
    <li><a href="{% url 'account:detail' %}">Profile</a></li>
    <li><a href="{% url 'product:list' %}">Products</a></li>
    <li><a href="{% url 'order:list' %}">Orders</a></li>
  </ul>
{% else %}
  <a href="{% url 'account:login' %}">Login</a>
  <a href="{% url 'account:registration' %}">Registration</a>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>